body {
    background-color: black;
    background-size: cover;
    color: rgb(235, 227, 235);
    text-shadow: 0 0 5px fuchsia, 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video{
    min-width: 100%;
    min-height: 100%;
}

.content{
    position: relative;
    z-index: 1;
}


.text-fuchsia {
    color: fuchsia;
    text-shadow: 0 0 5px fuchsia, 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 40px fuchsia, 0 0 80px fuchsia;
}

.btn-fuchsia {
    background-color: fuchsia;
    color: rgb(245, 237, 237);
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.btn-fuchsia:hover {
    background-color: #ff69b4;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black;
}

.carousel-inner img {
    height: 400px;
    width: 400px;
    object-fit: none;
}

footer a {
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0 0 5px rgb(243, 236, 243), 0 0 10px rgb(243, 236, 243), 0 0 20px rgb(243, 236, 243), 0 0 40px rgb(243, 236, 243), 0 0 80px rgb(243, 236, 243);
}

footer a:hover {
    text-decoration: underline;
}